<script>
    var get_mkey = '{{ mkey }}';
    var get_key = '{{ key }}';
</script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{ t._('Application const create/edit') }}
    </h1>
</section>

<section class="content">
    {{ form('/'~ carofw['backendUrl'] ~'/settings/const_edit', 'method': 'post', 'class': 'form-horizontal', 'id': 'const_edit-config') }}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ t._('Choose key which you need to edit') }}</h3>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ t._('Choose key') }}</label>
                            <div class="col-sm-10">
                                <input type="hidden" name="key" id="current-key">
                                {{ select('mkey', main_keys, 'useEmpty': true, 'class': 'form-control', 'id': 'select-mkey', 'onchange': 'loadData(this, false)') }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ t._('Choose select list') }}</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="select-key"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ t._('Edit content') }}</label>
                            <div class="col-sm-10" id="key-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ end_form() }}
</section>

<script type="text/javascript">
    function loadData(mkey, key) {
        if ($(mkey).val() && key == false) {
            $.get('{{ url() }}/{{ carofw['backendUrl'] }}/settings/const_edit/' + $(mkey).val(), function (data) {
                $('#select-key').attr('name', 'const['+ $(mkey).val() +']');
                $('#select-key').attr('onchange', 'loadData(\''+ $(mkey).val() +'\', this)');
                $('#select-key').html(data);

                if (get_mkey && get_key) {
                    $('#select-key').val(get_key);
                    $('#current-key').val(get_key);
                    $('#select-key').change();
                }
            });
        }

        if (mkey && $(key).val()) {
            $.get('{{ url() }}/{{ carofw['backendUrl'] }}/settings/const_edit/' + mkey + '/' + $(key).val(), function (data) {
                $('#current-key').val($(key).val());
                $('#key-container').html(data);
            });
        }
    }

    function addSelect(mkey, key) {
        var select_string = '<div class="form-group">';
        select_string += '<div class="col-sm-5"><input name="const[' + mkey + '][' + key + '][value][]" class="form-control" value=""></div>';
        select_string += '<div class="col-sm-7"><input name="const[' + mkey + '][' + key + '][label][]" class="form-control" value=""></div>';
        select_string += '</div>';

        $(document.getElementById('select-box-content')).append(select_string);
    }

    function createNewKey(mkey, obj) {
        var key = $(obj).parents('.form-group').children('.col-sm-6').children('.form-control').val();
        $.post(backend_url + '/settings/const_edit', {
            mkey: mkey,
            key: key,
            is_new: 1
        }, function (data) {
            swal({
                title: '{{ t._('Successful') }}',
                text: '{{ t._('Create new key is successful') }}',
                type: 'success'
            }, function () {
                location.href = data.url;
            });
        });
    }

    $(function () {
        $('#const_edit-config').submit(function (e) {
            var data = $(this).serialize();
            $.post(backend_url + '/settings/const_edit', data, function (result) {
                swal(result.title, result.message, result.type);
            });
            e.preventDefault();
        });

        if (get_mkey) {
            $('#select-mkey').val(get_mkey);
            $('#select-mkey').change();
        }
    });
</script>