<section class="content-header">
    <h1>
        {{ t._('List Models') }}
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url('/'~carofw['backendUrl']~'/builder/create_model') }}"><i class="fa fa-plus"></i> Add new model</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr role="row">
                                            <th class="header">{{ t._('Model Name') }}</th>
                                            <th class="header"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for model in models %}
                                            <tr>
                                                <td><a href="{{ url('/' ~ carofw['backendUrl'] ~ '/builder/edit_model/' ~ model) }}">{{ model }}</a></td>
                                                <td><a href="{{ url('/' ~ carofw['backendUrl'] ~ '/builder/edit_layout/' ~ model) }}">{{ t._('Edit Layout') }}</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>