<h3>Welcome!</h3>
<p>
    Welcome to Caro framework.<br>
    Our mission is to give you an advanced tool for developing the faster web sites and applications with PHP.
</p>

<h3>What is Caro Framework?</h3>
<p>
    Caro Framework base on <a href="http://phalconphp.com">PhalconPHP</a><br>
    Caro Framework is an open source, full stack framework for PHP written as a C-extension, optimized for high performance.<br>
    You don’t need to learn or use the C language, since the functionality is exposed as PHP classes ready for you to use.<br>
    Caro Framework also is loosely coupled, allowing you to use its objects as glue components based on the needs of your application.<br>
    Caro Framework is not only about performance, our goal is to make it robust, rich in features and easy to use!
</p>

<h3 id="table-of-contents">Table of Contents</h3>
<ul>
    <li>Installation</li>
    <ul>
        <li><a href="https://docs.phalconphp.com/en/latest/reference/install.html" target="_blank">Install PhalconPHP extension</a></li>
        <li><a href="http://carophp.com">Download Caro Framework</a></li>
        <li><a href="{{ url('/documents?step=start') }}">Getting started</a></li>
        <li><a href="{{ url('/documents?step=structure') }}">Caro Framework Structure</a></li>
        <li><a href="{{ url('/documents?step=backend_crud') }}">Backend Module CRUD</a></li>
        <li><a href="{{ url('/documents?step=fields_type') }}">Fields Type</a></li>
        <li><a href="{{ url('/documents?step=subpanels') }}">Sub Panels</a></li>
        <li><a href="{{ url('/documents?step=permissions') }}">Permissions</a></li>
        <li><a href="{{ url('/documents?step=api') }}">REST API</a></li>
        <li><a href="{{ url('/documents?step=logs') }}">Logs</a></li>
    </ul>
</ul>