<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{ title }}
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url('/'~carofw['backendUrl']~'/'~controller) }}" class="btn btn-default btn-xs">{{ t._('List') }}</a></li>
        {% if extra_view_menus is defined %}
            {% for m in extra_view_menus %}
                <li><a href="{{ url('/'~carofw['backendUrl']~m['url']) }}" class="btn btn-default btn-xs">{{ t._(m['label']) }}</a></li>
            {% endfor %}
        {% endif %}
    </ol>
</section>

{#set path from path core#}
{% if module_name %}
    <?php $this->view->setPartialsDir('../../../views/'); ?>
{% endif %}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                {{ form('/'~ carofw['backendUrl'] ~'/' ~ controller ~ '/save', 'method': 'post', 'class': 'form-horizontal') }}
                    <div class="box-body">
                        <input type="hidden" name="model_name" value="{{ model_name }}">
                        <input type="hidden" name="action_detail" value="{{ action_detail }}">

                        {% if data is not null %}
                            <input type="hidden" name="id" value="{{ data.id }}" />
                        {% endif %}

                        {% for name, view in edit_view['fields'] %}
                            {% if view['type'] != 'hidden' %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{ view['label'] }} {% if view['required'] is defined and view['required'] %}<span class="required">*</span>{% endif %}</label>
                                    <div class="col-sm-10">
                                        <?php if (is_file(APP_PATH . 'apps/backend/views/view_custom/fields/' . $view['type'] . '/edit.twig')) { ?>
                                            {{ partial('view_custom/fields/' ~ view['type'] ~ '/edit') }}
                                        <?php } else if (is_file(APP_PATH . 'apps/backend/views/view_default/fields/' . $view['type'] . '/edit.twig')) { ?>
                                            {{ partial('view_default/fields/' ~ view['type'] ~ '/edit') }}
                                        <?php } else if (is_file(APP_PATH . 'apps/backend/views/view_custom/base/edit.twig')) { ?>
                                            {{ partial('view_custom/fields/base/edit') }}
                                        <?php } else { ?>
                                            {{ partial('view_default/fields/base/edit') }}
                                        <?php } ?>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="box-footer">
                            <button type="reset" class="btn pull-right" name="action">{{ t._('Cancel') }}</button>
                            <button id="submit-button" type="submit" class="btn btn-info pull-right" name="action" style="margin-right: 5px;">{{ t._('Save') }}</button>
                        </div>
                    </div>
                {{ end_form() }}
            </div>
        </div>
    </div>

    {% if partials is defined and partials %}
        {% for patial in partials %}
            <div class="row">{{ partial(partial) }}</div>
        {% endfor %}
    {% endif %}
</section>